body{

font-family:Arial, sans-serif;

background:#f1f5f9;

}



.login-box{

width:300px;

margin:100px auto;

background:white;

padding:30px;

border-radius:15px;

text-align:center;

}



input{

width:90%;

padding:12px;

margin:8px;

}



button{

padding:12px 30px;

background:#1e3a8a;

color:white;

border:none;

border-radius:10px;

cursor:pointer;

}
