*{
    box-sizing:border-box;
}


body{

    margin:0;

    font-family:
    "Apple SD Gothic Neo",
    "Malgun Gothic",
    sans-serif;

    background:#f5f7fb;

    color:#222;

}



header{

    background:#1e3a8a;

    color:white;

    text-align:center;

    padding:30px;

}



header h1{

    margin:0;

    font-size:28px;

}



.search-box{

    padding:20px;

    text-align:center;

}



input{

    width:90%;

    max-width:500px;

    padding:15px;

    font-size:16px;

    border-radius:10px;

    border:1px solid #ccc;

}



main{

    padding:20px;

}



.card{

    background:white;

    padding:20px;

    margin-bottom:15px;

    border-radius:15px;

    box-shadow:
    0 3px 10px rgba(0,0,0,0.1);

}



.card h3{

    color:#1e3a8a;

}



.card a{

    text-decoration:none;

    color:#2563eb;

    font-weight:bold;

}



.notice{

    background:white;

    padding:20px;

    border-radius:15px;

}



footer{

    text-align:center;

    padding:20px;

    color:#777;

}



@media(max-width:600px){

    header h1{

        font-size:22px;

    }


    main{

        padding:10px;

    }

}

.category-menu{

text-align:center;

margin:20px;

}


.category-menu button{

padding:12px 20px;

margin:5px;

border:none;

border-radius:10px;

background:#1e3a8a;

color:white;

font-size:15px;

cursor:pointer;

}


.category-menu button:hover{

opacity:0.8;

}
